.sf {
  &-float {
    &-wrap {
      position: relative;
    }
  }
  &-more, &-settings, &-float {
    &-menu {
      white-space: normal;
      position: absolute;
      top: calc(100% + var(--sf-b2));
      width: fit-content;
      overflow-y: auto;
      right: 0;
      border-radius: var(--sf-radius-1);
      z-index: 1;
      margin: 0;
      padding: var(--sf-b4);
      flex-direction: column;
      gap: var(--sf-b2);
      min-width: 200px;
      max-width: max-content;
      list-style: none;
      border-top: none;
      display: none;
      --sf-menu-title-size: var(--sf-b4);
      --sf-menu-title-height: var(--sf-c0);
      max-height: max-content;
      @media (min-width: 960px) {
        --sf-menu-title-size: var(--sf-b6);
        --sf-menu-title-height: var(--sf-c2);
      }

      &_item {
        .sf-button-settings {
          max-width: 100%;
          width: 100%;
          justify-content: flex-start;
        }

        span {
          color: var(--sf-on-surface);
          font-size: var(--sf-menu-title-size);
          line-height: var(--sf-menu-title-height);
          font-weight: 500;
        }
      }
    }

    &-wrap {
      &.active {
        .sf-float-menu,
        .sf-settings-menu, .sf-more-menu {
          display: flex;
        }
      }
    }
  }
}

.lang_size {
  label {
    &:hover {
      color: var(--sf-secondary);
    }

    &:has(input:checked) {
      color: var(--sf-primary);
    }

    &:first-child {
      font-size: 14px;
    }
    &:nth-child(2) {
      font-size: 16px;
    }

    &:nth-child(3) {
      font-size: 18px;
    }
  }
}
