:root {
  --dc-table--height-max: var(--sf-g4);
  --dc-playground--margin-bottom: var(--sf-space-1);
  --dc-table-margin-bottom: var(--sf-space-1);
  --dc-code-radius: var(--sf-radius-1);
  --dc-folders-height-max: var(--sf-g1);
}
