.sf-nav {
  &-menu {
    min-width: 0;
    @include breakpoint(bigTablet) {
      font-size: var(--sf-b4);
    }
    @include breakpoint(tablet) {
      display: none;
    }
    .aside-wrap {
      @include breakpoint(tablet) {
        height: auto;
      }
    }
    &--right {
      flex: 0 0 18%;
    }
    &--left {
      flex: 0 0 22%;


      @include breakpoint(midTablet) {
        flex: 0 0 30%;
      }
      @include breakpoint(tablet) {
        .aside-wrap {
          padding-inline-end: 0;
          height: auto;
        }
        padding: var(--sf-b2);
        transition: .3s left ease;
        display: flex;
        background-color: var(--sf-surface-0);
        position: fixed;
        inset-inline-start: 100%;
        top: var(--sf-header-height);
        bottom: 0;
        width: 100%;
        height: calc(100% - var(--sf-header-height));
        flex: 1 auto;
        z-index: 9999;
        flex-direction: column;
        border: 0;
        &.active {
          inset-inline-start: 0;
        }
      }
    }

  }
  &-wrap {
    @include breakpoint(tablet) {
      width: 100%;
      overflow: auto;
    }
  }

  &-item {
    color: var(--sf-on-surface);
    line-height: var(--sf-text-height-1);
    transition: .3s background-color ease;


    &.visited {
      background-color: var(--sf-surface-container-active);
    }

    &:not(.visited, .active) {
      &:hover {
        background-color: var(--sf-surface-container-hover);
      }
    }
  }

  &-title {
    color: var(--sf-on-surface);
  }

  &-toggle {
    &_button {
      + span, + a {
        padding-inline-start: var(--sf-b6);
      }
      i {
        font-size: var(--sf-c0);
        line-height: var(--sf-c0);
        transform: rotate(-90deg);
      }
    }
  }

  &-menu {

    &-element {
      &--link {
        color: var(--sf-on-surface);
        flex-grow: 1;
        transition: .3s background-color ease;
        border-radius: var(--sf-radius-1);

        &:not(.active) {
          &:hover {
            color: var(--sf-surface-container-hover);
          }
        }

        &.active {
          background-color: var(--sf-primary-container);
        }
      }

      .sf {
        &-icon {
          transition: .3s transform ease;
        }
      }

    }


    li:has(button) {

      > ul {
        display: none;
      }

      &.open {
        > ul {
          display: block;
        }
      }

      &.active {
        > .sf-nav-item {
          .sf-nav-toggle_button {
            i {
              transform: rotate(0deg);
            }
          }
        }

        > ul {
          display: block;
          padding-inline-start: var(--sf-b6);
        }
      }

      //display: flex;
    }
  }

  &-button {
    color: var(--sf-on-surface);

    &:hover {
      color: var(--sf-on-surface);
    }
  }
}

.nav {
  &-menu {
    @include breakpoint(tablet) {
    &-left {
        padding-right: var(--sf-b6);
      }
      &-right {
        width: 100%;
        height: 100%;
      }
    }
  }
}
